body
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 20px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.right
{
    float: right;
}

.left
{
    float: left;
}

.center
{
    display:flex;
    justify-content:center;
    align-items:center;
    min-width: 100%;
}

.break
{
    flex-basis: 100%;
}
#container
{
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
}

p
{
    word-break: normal;
}

h1, h2
{
    padding-top: 5%;
}

h2
{
    font-size: 1.25em;
}

input[type=range]
{
    -webkit-appearance: none;
    appearance: none;

    background: #000000;
    border-radius: 20px;
    height: 10px;
    width: 100%;
}

input[type=range]::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 30%;
    background: #ffffff;
    cursor: pointer;
    border-style: solid;
    border-width: 4px;
    border-color: black;
}

input[type=range]::-moz-range-thumb
{
    width: 20px;
    height: 20px;
    border-radius: 30%;
    background: #ffffff;
    cursor: pointer;
    border-style: solid;
    border-width: 4px;
    border-color: black;
}

button
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 20px;
    border-radius: 20px;
}

#playing-field
{
    flex-wrap: wrap;
}

.card
{
    padding-left: 0.5%;
    padding-bottom: 0.5%;
    min-width: 12%;
    min-height: 12%;
}

.back
{
    width: 100px;
    height: 100px;
    border-radius: 30%;
    border-style: solid;
    border-width: 4px;
    border-color: black;
}

.front
{
    width: 100px;
    height: 100px;
    border-radius: 30%;
    border-style: solid;
    border-width: 4px;
    border-color: black;
}

.flip1
{
    perspective: 1000px;
    transform: rotateY(90deg);
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flip2
{
    perspective: 1000px;
    transform: rotateY(0deg);
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

table, td, th
{
    padding: 10px;
    margin: 10px;
    border: 3px solid #000000;
    border-collapse: collapse;
    text-align: center;
}